body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

nav a {
  color: #38bdf8;
  text-decoration: none;
  margin-left: 15px;
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px;
}

.btn {
  background: #38bdf8;
  padding: 10px 20px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

/* Form */
.form {
  text-align: center;
  margin-top: 100px;
}

input {
  padding: 10px;
  margin: 5px;
}

/* Projects */
.filters {
  text-align: center;
  margin: 20px;
}

.filters button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.project img {
  width: 200px;
  border-radius: 10px;
}

.project:hover {
  transform: scale(1.05);
}
