body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px;
}

.btn {
  background: #38bdf8;
  padding: 10px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.section {
  text-align: center;
  padding: 50px;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
}

.box img {
  width: 100%;
  border-radius: 10px;
}
